//! **************************************************************************
// Written by: Map M.81d on Thu Feb 28 15:00:02 2013
//! **************************************************************************

SCHEMATIC START;
COMP "an<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "an<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "an<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "an<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "rx" LOCATE = SITE "N17" LEVEL 1;
COMP "seg<0>" LOCATE = SITE "L14" LEVEL 1;
COMP "seg<1>" LOCATE = SITE "N14" LEVEL 1;
COMP "seg<2>" LOCATE = SITE "M14" LEVEL 1;
COMP "seg<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "seg<4>" LOCATE = SITE "U17" LEVEL 1;
COMP "seg<5>" LOCATE = SITE "T18" LEVEL 1;
COMP "seg<6>" LOCATE = SITE "T17" LEVEL 1;
COMP "seg<7>" LOCATE = SITE "M13" LEVEL 1;
COMP "rst" LOCATE = SITE "B8" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "rx1" BEL "rx2" BEL "sreg_1" BEL "sreg_2" BEL
        "sreg_3" BEL "tal_0" BEL "tal_1" BEL "tal_2" BEL "tal_3" BEL "tal_4"
        BEL "tal_5" BEL "tal_6" BEL "tal_7" BEL "tal_8" BEL "tal_9" BEL
        "tal_10" BEL "tal_11" BEL "tal_12" BEL "tal_13" BEL "tal_14" BEL
        "tal_15" BEL "pos_0" BEL "pos_1" BEL "bit_cnt_1" BEL "bit_cnt_0" BEL
        "bit_cnt_2" BEL "bit_cnt_3" BEL "led/counter_r_17" BEL
        "led/counter_r_16" BEL "led/counter_r_15" BEL "led/counter_r_14" BEL
        "led/counter_r_13" BEL "led/counter_r_12" BEL "led/counter_r_11" BEL
        "led/counter_r_10" BEL "led/counter_r_9" BEL "led/counter_r_8" BEL
        "led/counter_r_7" BEL "led/counter_r_6" BEL "led/counter_r_5" BEL
        "led/counter_r_4" BEL "led/counter_r_3" BEL "led/counter_r_2" BEL
        "led/counter_r_1" BEL "led/counter_r_0" BEL "led/segments_6" BEL
        "led/segments_5" BEL "led/segments_4" BEL "led/segments_3" BEL
        "led/segments_2" BEL "led/segments_1" BEL "led/segments_0" BEL
        "led/an_3" BEL "led/an_2" BEL "led/an_1" BEL "led/an_0" BEL "in_idle"
        BEL "lp" BEL "sp" BEL "clk_cnt_2" BEL "clk_cnt_0" BEL "clk_cnt_1" BEL
        "clk_cnt_5" BEL "clk_cnt_3" BEL "clk_cnt_4" BEL "clk_cnt_8" BEL
        "clk_cnt_6" BEL "clk_cnt_7" BEL "clk_cnt_9" BEL "clk_BUFGP/BUFG" BEL
        "Mshreg_sreg_4" BEL "sreg_41" BEL "rst_IBUF_shift1" BEL
        "rst_IBUF_shift2" BEL "rst_IBUF_shift3" BEL "rst_IBUF_shift4" BEL
        "rst_IBUF_shift5" BEL "sreg_4";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

